default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []

  -   repo: https://github.com/doublify/pre-commit-rust
      rev: v1.0
      hooks:
      -   id: fmt
      -   id: cargo-check

  - repo: local
    hooks:

      # Clippy:

      - id: cargo-clippy-strict
        name: Cargo Clippy (clippy::pedantic)
        entry: bash -c "cargo clippy --all-targets --all-features -- -D clippy::pedantic -D clippy::all"
        language: system
        types: [rust]

      - id: cargo-clippy-strict-release
        name: Cargo Clippy Release (clippy::pedantic)
        entry: bash -c "cargo clippy --release --all-targets --all-features -- -D clippy::pedantic -D clippy::all"
        language: system
        types: [rust]

      - id: cargo-clippy-cargo
        name: Cargo Clippy for Cargo (clippy::cargo)
        entry: bash -c "cargo clippy --all-targets --all-features -- -D clippy::cargo"
        language: system
        types: [rust]

      # Test:

      - id: cargo-nextest
        name: Cargo Nextest
        entry: bash -c "cargo nextest run"
        language: system
        types: [rust]

      - id: cargo-nextest
        name: Cargo Nextest Release
        entry: bash -c "cargo nextest run --release"
        language: system
        types: [rust]
