name: NodeJS Integration

on:
  push:
    branches: [ main, master ]
    tags:
      - 'v*'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        targets: wasm32-unknown-unknown
    - uses: cargo-bins/cargo-binstall@main
    - run: cargo binstall wasm-pack --no-confirm
    - run: |
        bash ./package.sh
        node example.mjs
